<!DOCTYPE html>
<html>
    <head>  
            <title>coment yaratish</title>
            <link rel="stylesheet" href="stillar uchun fayl.css">
    </head>
     <body>
        <!--buyeda <h1> tagi bor -->
        <h1 style="opacity: 0.33;"> Heading 1</h1>
        <h2><b><i><del>Heading 2</i></del></b></h2>
        <h3>headging 3</h3>
       <!-- <h4 style="opacity: 0.1;">Heading 4</h4>
        <h5>Heading <sup>5</sup></h5>
        <h6>Heading <sub>6</sub>6</h6>
        <h1>Yana H1</h1>-->
        
        <!--buyerda paragraglar bor edi-->
        <h5>Firoq - 1. Eng yaqin, <i>kursiv </i>sevimli kishidan <b>qalin harf</b> judo boʻlish, <br> <hr> 
            ayrilish va bu tufayli tortiladigan ruhiy azob; ayriliq, judolik, hijron.</h5>
        <p>Buyerda matn bor</p>
        <!--buyerda rangli harflar kiritlagan-->
        <p >https://www.youtube.com/watch?v=T8-PzMvmggE</p>
        <p >yuqoridagi link kino uchun</p>

        <a href="mening saytim asoslari.html"> avvalgi hujjatga qaytish uchun shuyerga bosiing</a>
        
     </body> 
</html>