<!DOCTYPE html>
<html lang=""en>
    <head>
        <h1>Harid ro'yxati</h1>

<form id="forma1">
  <input id="kirgizish1"/>
  <button>Yangi harid buyumlari</button>
  </form>

<ol class="list">
<!--   <li style="margin:10px">Olma <button> o'chirish</button></li>
  <li style="margin:10px">O'rik <button> o'chirish</button></li>
  <li style="margin:10px">Gilos <button> o'chirish</button></li> -->
 </ol>
    <body style="background-color: #b8bbd1">
        <div class="container">
            <h1 class="display-4 text-center py-1"> REJA VA MAQSADLAR    </h1>
        </div>



    </body>
</html>